[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

Django = "*"
django-storages = "*"
django-meta = "*"
django-cron = "*"
django-rq = "*"
pytz = "*"
Markdown = "*"
"psycopg2" = "*"
boto = "*"
arrow = "*"
python-dateutil = "*"
requests = "*"
gunicorn = "*"
redis = "*"
chardet = "*"
klip = "*"


[dev-packages]



[requires]

python_version = "3.6"
